<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'card' }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="card-body p-6">
    <div class="card-title">Change your password</div>
    <div class="form-group">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirn new password', class: 'form-control' %>
    </div>

    <div class="form-footer">
      <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
